<nav class="my-nav" style="position: fixed">
  <ul>
    <li class="justify-content-center w-100">
      <a href="#" class="logo " style=" height: 100px; display: flex; gap: 55px;   ">
        <img   src="" alt="" />
        <span  class="obj-sidebar name">Natalia Pardo</span>
      </a>
    </li>

    <li>
      <a routerLink="/Inicio">
        <i class="fas fa-home"></i>
        <span class="obj-sidebar">Inicio</span>
      </a>
    </li>

    <li>
      
      <a routerLink="/Perfil">
        <i class="fas fa-user"></i>
        <span class="obj-sidebar">Perfil</span>
      </a>
    </li>

    <li>
      <a routerLink="/events">
        <i class="fas fa-calendar-days"></i>
        <span class="obj-sidebar">Eventos</span>
      </a>
    </li>

    <li>
      <a routerLink="/createEvent">
        <i class="fas fa-calendar-plus "></i>
        <span class="obj-sidebar">Crear Evento</span>
      </a>
    </li>

   

    <li>
      <a routerLink="/Amigos">
        <i class="fas fa-user-group"></i>
        <span class="obj-sidebar">Amigos</span>
      </a>
    </li>

    <!-- <li>
      <a href="#">
        <i class="fas fa-question-circle"></i>
        <span class="obj-sidebar">Ayuda</span>
      </a>
    </li> -->

    <li>
      <a routerLink="/createEvent" class="salir">
        <i class="fas fa-sign-out"></i>
        <span class="obj-sidebar">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</nav>
