<nav class="my-nav" style="position: fixed;">
  <ul>
    <li>
      <a href="#" class="logo">
        <img src="" alt="" />
        <span class="obj-sidebar name">Natalia Pardo</span>
      </a>
    </li>

    <li>
      <a href="home-page.html">
        <i class="fas fa-home"></i>
        <span class="obj-sidebar">Inicio</span>
      </a>
    </li>

    <li>
      <a href="profile.html">
        <i class="fas fa-user"></i>
        <span class="obj-sidebar">Perfil</span>
      </a>
    </li>

    <li>
      <a href="eventos.html">
        <i class="fas fa-calendar-days"></i>
        <span class="obj-sidebar">Eventos</span>
      </a>
    </li>

    <li>
      <a href="crear-evento.html">
        <i class="fas fa-calendar-plus"></i>
        <span class="obj-sidebar">Crear Evento</span>
      </a>
    </li>

    <li>
      <a href="calificar-fiesta.html">
        <i class="fas fa-star"></i>
        <span class="obj-sidebar">Calificar Farra</span>
      </a>
    </li>

    <li>
      <a href="public/index.html">
        <i class="fas fa-user-group"></i>
        <span class="obj-sidebar">Amigos</span>
      </a>
    </li>

    <!-- <li>
      <a href="#">
        <i class="fas fa-question-circle"></i>
        <span class="obj-sidebar">Ayuda</span>
      </a>
    </li> -->

    <li>
      <a href="#" class="salir">
        <i class="fas fa-sign-out"></i>
        <span class="obj-sidebar">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</nav>
