<header class="header-container">
    <navbar-NS></navbar-NS>
    <main class="main">
        <h1 class="main__title animate-fade-down animate-once animate-duration">
            Night
            <span>Society</span>
        </h1>
        <p class="main__paragraph animate-fade-down animate-once animate-duration-2">Convierte la noche en una experiencia
            inolvidable junto a tus
            <span>
                amigos
            </span>
        </p>
        <div class="button-container">
            <a class="button-container__l" routerLink="/friends/friends-suggestion">Amigos en común</a>
            <a class="button-container__l" routerLink="/friends/contact-section">Administra tus amigos</a>
        </div>
    </main>
</header>