
 
<div class="vh-100 d-flex justify-content-center align-items-center">
    
    <form #eventForm="ngForm" (ngSubmit)="createOrUpdateEvent(eventForm)" class="w-50 row container-crear-evento d-flex justify-content-center align-items-center">
      <div class=" d-flex justify-content-center gap-3 icon-craer-evento">
          <i class="bi bi-calendar-plus-fill"></i>
          <h2 class="fw-bold">Crear Evento</h2> 
     </div>
      <!-- <div class="crear-evento m-auto col-12 d-flex justify-content-center">
          <h2 class="fw-bold">Crear Evento</h2>   
      </div> -->
  
      <div class="col-12 col-md-10">
        <input type="text" hidden name="_id" #_id="ngModel" [(ngModel)]="eventService.eventToCreate._id"  />
        <label for="inputext" class="form-label ">Nombre: </label>
        <input type="text" id="inputext" class="form-control" placeholder="Nombre evento" required="" name="name" #name="ngModel" [(ngModel)]="eventService.eventToCreate.name" >
      </div>
     
      <div class="col-12 col-md-10">
        <label for="inputAddress" class="form-label">Dirección: </label>
        <input type="text" id="inputAddress" class="form-control" placeholder="Dirección" required="" name="address" #address="ngModel" [(ngModel)]="eventService.eventToCreate.address"  >
      </div>
  
      <div class="col-12 col-md-5">
        <label for="inputDate1" class="form-label">Fecha Desde: </label>
        <input type="date" id="inputDate1" class="form-control" required="" name="date_from" #date_from="ngModel" [(ngModel)]="eventService.eventToCreate.date_from" >
      </div>

      <div class="col-12 col-md-5">
        <label for="inputDate2" class="form-label">Fecha Hasta: </label>
        <input type="date" id="inputDate2" class="form-control" required="" name="date_to" #date_to="ngModel" [(ngModel)]="eventService.eventToCreate.date_to" >
      </div>
  
      <div class="col-12 col-md-5">
          <label for="horEvent" class="form-label">Hora: </label>
          <input type="time" id="horEvent" class="form-control" required="" name="hour" #hour="ngModel" [(ngModel)]="eventService.eventToCreate.hour" >
      </div>
  
      <div class="mb-3 col-12 col-md-10">
          <label for="formFileMultiple" class="form-label">Adjuntar imagenes:</label>
          <input class="form-control" id="formFileMultiple" type="file" multiple required="" name="images" #images="ngModel" [(ngModel)]="eventService.eventToCreate.images" >
        </div>
  
      <div class="col-12 col-md-10">
          <label for="comentariosEvent" class="form-label">Descripción: </label>
         <textarea class="form-control" id="comentariosEvent" placeholder="Descripción" required="" name="description" #description="ngModel" [(ngModel)]="eventService.eventToCreate.description" ></textarea>
      </div>
         
      <!-- <div class="col-12 d-flex justify-content-center "> -->
        <!-- Button trigger modal -->
          <button type="submit" class="btn btn-primary mt-3 mb-4 w-25" >
               Crear  
          </button>
    
          <!-- Modal -->
          <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content ">
                  <div class="modal-header conf-crear-evento ">
                  <h1 class="modal-title fs-5 fw-bold " id="staticBackdropLabel">Seguro desea crear el evento</h1>
                  <button type="button" class="btn-close bg-white conf-crear-evento" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-center fw-light">
                  Una vez creado el evento, sera publicado. <br>
                  Desea Continuar ?
                  </div>
                  <div class="modal-footer conf-crear-evento">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                      <a href="eventos.html" rel="noopener noreferrer">
                  <button type="button" class="btn btn-primary fw-bold"> SI </button>
                      </a>
                  </div>
              </div>
              </div>
          </div> -->
      <!-- </div> -->
    </form>
  
  </div>
  

  <h1 class="d-flex justify-content-center mt-5" >Mis EVENTOS</h1>


  <div class="d-flex justify-content-center mt-5">
    
    <table class="table table-borderless w-75 border" >
      <thead>
        <tr>
          <th class="text-center" scope="col">NAME</th>
          <!-- <th class="text-center" scope="col">_id</th> -->
          <th class="text-center" scope="col">FECHA DESDE</th>
          <th class="text-center" scope="col">FECHA HASTA</th>
          <!-- <th class="text-center" scope="col">HORA</th>
          <th class="text-center" scope="col">DESCIPCION</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventService.allEvent">
          <td >{{event.name}}</td>
          <!-- <td >{{event._id}}</td> -->
          <td >{{event.date_from}}</td>
          <td >{{event.date_to}}</td>
          <!-- <td >{{event.hour}}</td>
          <td >{{event.description}}</td> -->
       
          <!-- <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product._id || '')">Eliminar</button></td> -->
          <td><button type="button" class="btn btn-primary" (click)="updateEvent(event)" >Editar</button></td>
        </tr> 
      </tbody>
    </table>
  </div>
  
  
  