
 
<div class="vh-100 d-flex justify-content-center align-items-center">
    
    <form #eventForm="ngForm" (ngSubmit)="createOrUpdateEvent(eventForm)" class="w-50 row container-crear-evento d-flex justify-content-center align-items-center">
      <div class=" d-flex justify-content-center gap-3 icon-craer-evento">
          <i class="bi bi-calendar-plus-fill"></i>
          <h2 class="fw-bold">Crear Evento</h2> 
     </div>
      
      <div class="col-12 col-md-10">
        <input type="text" hidden name="_id" #_id="ngModel" [(ngModel)]="eventService.eventToCreate._id"  />
        <label for="inputext" class="form-label ">Nombre: </label>
        <input type="text" id="inputext" class="form-control" placeholder="Nombre evento" required="true" name="name" #name="ngModel" [(ngModel)]="eventService.eventToCreate.name" >
     
      </div>
     
      <div class="col-12 col-md-10">
        <label for="inputAddress" class="form-label">Dirección: </label>
        <input type="text" id="inputAddress" class="form-control" placeholder="Dirección" required="true" name="address" #address="ngModel" [(ngModel)]="eventService.eventToCreate.address"  >
      </div>
  
      <div class="col-12 col-md-3">
        <label for="inputDate" class="form-label">Fecha Desde: </label>
        <input type="date" id="inputDate" class="form-control" required="true" name="date_from" #date_from="ngModel" [(ngModel)]="eventService.eventToCreate.date_from" >
      </div>

      <div class="col-12 col-md-3">
        <label for="inputDate2" class="form-label">Fecha Hasta: </label>
        <input type="date" id="inputDate2" class="form-control" required="true" name="date_to" #date_to="ngModel" [(ngModel)]="eventService.eventToCreate.date_to" >
      </div>
  
      <div class="col-12 col-md-3">
          <label for="horEvent" class="form-label">Hora: </label>
          <input type="time" id="horEvent" class="form-control" required="true" name="hour" #hour="ngModel" [(ngModel)]="eventService.eventToCreate.hour" >
      </div>
  
       <!-- <div class="mb-3 col-12 col-md-10 ">
        <label for="inputImages" class="form-label">Imágenes:</label>
        <input type="file" id="inputImages" required="true" class="form-control" name="images" (change)="getFile($event)" multiple>
      </div> -->

      <div class="mb-3 col-12 col-md-10 ">
          <label for="formFileMultiple" class="form-label">Adjuntar imagenes:</label>
          <input class="form-control" id="formFileMultiple" type="file" multiple required name="images" #images="ngModel" [(ngModel)]="eventService.eventToCreate.images" >
      </div>
         
      <!-- <div class="col-12 col-md-10">
        <label for="inputImages" class="form-label">Imágenes:</label>
        <input type="file" id="inputImages" class="form-control" name="images" (change)="onFileChange($event)" multiple>

        <div *ngIf="selectedImages.length > 0" class="mt-2">
          <h6>Imágenes seleccionadas:</h6>
          <div class="horizontal-images">
            <div *ngFor="let image of imageUrls">
              <img [src]="image.url" alt="Preview" class="preview-image">
            </div>
          </div>
        </div>
      </div> -->
      
  
      <div class="col-12 col-md-10">
          <label for="comentariosEvent" class="form-label">Descripción: </label>
         <textarea class="form-control" id="comentariosEvent" placeholder="Descripción" required="true" name="description" #description="ngModel" [(ngModel)]="eventService.eventToCreate.description" ></textarea>
      </div>
         
   
          <button type="submit" class="btn btn-secondary mt-3 mb-4 w-25 fw-bold" >
               Crear  
          </button>

    </form>
  
  </div>
  

  <h2 class="d-flex justify-content-center mt-5 fw-bold color_event" >Mis EVENTOS</h2>


  <div class="d-flex justify-content-center mt-5">
    
    <table class="table table-event table-striped  w-75 border border-radios" >
      <thead class="thead-event">
        <tr>
          <th class="text-center " scope="col">EVENTO</th>
          <!-- <th class="text-center" scope="col">_id</th> -->
          <th class="text-center" scope="col">FECHA DESDE</th>
          <th class="text-center" scope="col">FECHA HASTA</th>
          <!-- <th class="text-center" scope="col">HORA</th>
          <th class="text-center" scope="col">DESCIPCION</th> -->
          <th class="text-center" scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventService.allEvent">
          <td class="text-center" >{{event.name}}</td>
          <!-- <td >{{event._id}}</td> -->
          <td class="text-center" >{{event.date_from | date}} </td>
          <td class="text-center" >{{event.date_to | date}}</td>
       
          <!-- <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product._id || '')">Eliminar</button></td> -->
          <td><button type="button" class="btn btn-primary" (click)="updateEvent(event)" >Editar</button></td>
          <td class="text-center" >{{event.qualify}}</td>
        </tr> 
      </tbody>
    </table>
  </div>
  
  
  