<div class="col">
  <div class="container h-auto">
    <div class="row">
      <div class="py-3 col">
        <div class="top-0 px-4 py-4 position-absolute end-0 d-flex">


          <!-- Boton notificaciones -->
          <button type="button" class="p-0 btn position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop_1">
            <i class="fa-solid fa-bell fa-2xl" style="color: #190f40"></i>
            <span class="top-0 position-absolute start-100 translate-middle badge rounded-pill bg-danger">
              2
              <span class="visually-hidden">Notificaciones</span>
            </span>
          </button>

          <!-- Modal Notificaciones -->
          <div class="modal fade" id="staticBackdrop_1" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel_1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel_1">
                    Notificaciones
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="pt-3 row filaMensaje">
                      <div class="col-md-2">
                        <a href="#" class="m-0 logo" style="text-decoration: none;">
                          <img src="" alt="" />
                        </a>
                      </div>
                      <div class="pb-3 col-md-10 sm-auto">
                        <p><strong>Paula Toro</strong> ha indicado que le gusta tu publicación.</p>
                      </div>
                    </div>
                    <div class="pt-3 row filaMensaje">
                      <div class="col-md-2">
                        <a href="#" class="m-0 logo" style="text-decoration: none;">
                          <img src="" alt="" />
                        </a>
                      </div>
                      <div class="pb-3 col-md-10 sm-auto">
                        <p><strong>Duban Steven</strong> comenzó a seguirte.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" style="background-color: #571673; color: white" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Button mensajes -->
          <button type="button" class="py-2 btn position-relative ps-4 pe-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2">
            <i class="fa-solid fa-comment fa-2xl" style="color: #190f40"></i>
            <span class="top-0 position-absolute start-100 translate-middle badge rounded-pill bg-danger">
              3
              <span class="visually-hidden">Mensajes</span>
            </span>
          </button>

          <!-- Modal Mensajes -->
          <div class="modal fade" id="staticBackdrop_2" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel_2" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel_2">
                    Mensajes
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="pt-3 row filaMensaje">
                      <div class="col-md-4">
                        <a href="#" class="m-0 logo" style="text-decoration: none;">
                          <img src="" alt="" />
                          <p class="p-2" style="color:black;"><strong>Paula Toro</strong></p>
                        </a>
                      </div>
                      <div class="pb-3 col-md-8 sm-auto">
                        <div class="m-0 message">
                          Hola, ¿cómo estás? Estaría interesada en asistir a tu evento.
                        </div>
                      </div>
                    </div>
                    <div class="pt-3 row filaMensaje">
                      <div class="col-md-4">
                        <a href="#" class="m-0 logo" style="text-decoration: none;">
                          <img src="" alt="" />
                          <p class="p-2" style="color:black;"><strong>Andrés Medina</strong></p>
                        </a>
                      </div>
                      <div class="pb-3 col-md-8 sm-auto">
                        <div class="m-0 message">
                          ¿Con cuántas personas vendrás a mi evento?
                        </div>
                      </div>
                    </div>
                    <div class="pt-3 row filaMensaje">
                      <div class="col-md-4">
                        <a href="#" class="m-0 logo" style="text-decoration: none;">
                          <img src="" alt="" />
                          <p class="p-2" style="color:black;"><strong>Nicolás Aguirre</strong></p>
                        </a>
                      </div>
                      <div class="pb-3 col-md-8 sm-auto">
                        <div class="m-0 message">
                          Iré con mi amiga. ¿Me confirmas la dirección, por favor?
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" style="background-color: #571673; color: white" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


