<header class="header">
  <a href="" class="logo">
    <img src="../../../assets/logo-Night-removebg-preview.png" alt="" />NIGHT
    SOCIETY</a
  >

  <i class="bx bx-menu" id="menu-icono"></i>
  <nav class="navbar">
    <a (click)="scrollTo(Inicio)" class="active">Inicio</a>
    <a (click)="scrollTo(que_es)">¿Qué es?</a>
    <a (click)="scrollTo(porque_usar)">¿Por qué usar?</a>
    <a (click)="scrollTo(mision)">Misión</a>
    <a (click)="scrollTo(vision)">Visión</a>
    <a [routerLink]="['/Login']" class="bt">Iniciar Sesión</a>
  </nav>
</header>

<!-- diseño sección inicio -->
<section class="inicio" #Inicio>
  <div class="home-contenido">
    <h3>Hola, esta es tu página para Eventos </h3>
    <!-- <h1>Night Society</h1> -->
    <h3>comparte<span> con amigos</span></h3>
    <p>Where the magic of the night comes alives</p>
    <div class="redes-sociales">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <a [routerLink]="['/register']" class="btn">Registrarse</a>
  </div>
  <div class="home-img">
    <img src="../../../assets/animation-ladding.png" alt="" />
  </div>
</section>

<!-- sección por que usar -->

<section class="que_es" #que_es>
  <div class="about-img">
    <img src="../../../assets/7298392-removebg-preview.png" alt="" />
  </div>
  <div class="que-contenido">
    <h2 class="heading">¿Qué es<span> Night Society</span>?</h2>
    <p>
      El confinamiento y el aislamiento que hemos vivido por la pandemia ha
      dejado estragos en nosotros y retomar la socialización y las relaciones
      interpersonales ha sido para algunos un camino de paciencia y empatía, de
      ahí nace la idea de Night Society, un espacio donde podrás compartir tus
      pensamientos y gustos de forma libre y así mismo buscar y encontrar
      personas con las cuales puedas compartir de esto.
    </p>
  </div>
</section>

<section class="porque-usar" #porque_usar>
  <div class="about-img">
    <img src="../../../assets/3424790-removebg-preview.png" alt="" />
  </div>
  <div class="usar-contenido">
    <h2 class="heading">¿Por qué usar <span>Night Society</span>?</h2>

    <p>
      En Night Society sabemos que muchas personas batallan, por ejemplo, para
      interacciones verbales con desconocidos que no pasen por mensajes escritos
      en pantalla y por convivir y mantener relaciones en contextos diferentes a
      lo habitual. Por lo cual en Night Society queremos estimular y buscar
      proactivamente los espacios para que los jóvenes y adultos puedan
      expresarse no solamente mediante el intercambio verbal, sino mediante la
      realización de eventos en conjunto, como pueden ser: cenas, fiestas,
      juegos, caminatas, viajes, etc. Las cuales nos permitan expresar emociones
      y poder estar lo más cómodos posible en estos ambientes.
    </p>
  </div>
</section>

<section class="mision" #mision>
  <div class="about-img">
    <img src="../../../assets/mision.png" alt="" />
  </div>
  <div class="que-contenido">
    <h2 class="heading">Mis<span>ión</span>:</h2>
    <p>
      Si eres de los que disfruta conocer gente, asistir y/o realizar eventos,
      reuniones y fiestas en tu ciudad, o, por el contrario, se te dificulta
      acudir a cualquiera de estos escenarios, Night Society es indudablemente
      una base fundamental para facilitar todo este tipo de interacciones.
    </p>
    <p>
      Nuestra aplicación es indispensable para que puedas estar al día con todos
      los eventos de tu ciudad. Descubre los próximos eventos del día, la
      semana, del mes o del año en un mismo lugar.
    </p>
  </div>
</section>

<section class="vision" #vision>
  <div class="about-img">
    <img src="../../../assets/Wavy_Bus-19_Single-09.jpg" alt="" />
  </div>
  <div class="usar-contenido">
    <h2 class="heading">Vis<span>ión</span>:</h2>
    <p>
      Nuestro ideal es lograr el posicionamiento y consolidación de Night
      Society, en el mercado en el segundo año de vida del proyecto y penetrar
      en el mercado internacional a largo plazo.
    </p>

    <p>
      Queremos tener efecto positivo en nuestra sociedad, buscando que estés en
      sintonía con tu entorno y podamos ayudarte con una mejoría en tu estado de
      ánimo, principalmente siendo responsables y poniendo como prioridad la
      honestidad para brindarte alta seguridad a la hora de interactuar en
      nuestra página, teniendo como finalidad permitirte expresarte
      libremente.
    </p>
  </div>
</section>

<!-- diseño foooter -->
<footer class="footer">
  <div class="footer-text">
    <p>
      Copyright &copy; 2023< By Night Society | All Rights Reserved. |
      <a [routerLink]="['/politicas']">Politicas de privacidad</a>
    </p>
  </div>
  <div class="footer-iconTop">
    <a (click)="scrollTo(Inicio)"><i class="fa-solid fa-arrow-up"></i></a>
  </div>
</footer>
