<header class="header">
    <a href="" class="logo">NIGHT SOCIETY</a>

    <i class="bx bx-menu" id="menu-icono"></i>
    <nav class="navbar">
      <a href="#Inicio" class="active">Inicio</a>
      <a href="#Sobre-mi">Sobre mi</a>
      <a href="#Servicios">Servicios</a>
      <a href="#Portafolio">Portafolio</a>
      <a href="#Contacto">Contacto</a>
    </nav>
  </header>

  <!-- diseño sección inicio -->
  <section class="inicio" id="Inicio">
    <div class="home-contenido">
      <h3>Hola, esta es tu página para rumbas</h3>
      <h1>Night Society</h1>
      <h3>comparte con <span>amigos</span></h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
        repellat harum fuga?culpa at labore fugit. Esse rerum omnis sit!
      </p>
      <div class="redes-sociales">
        <a href=""><i class="bx bxl-facebook"></i></a>
        <a href=""><i class="bx bxl-twitter"></i></a>
        <a href=""><i class="bx bxl-instagram-alt"></i></a>
        <a href=""><i class="bx bxl-linkedin"></i></a>
      </div>
      <a href="#" class="btn">Descargar CV</a> 
    </div>
    <div class="home-img">
      <img src="../../../assets/4848437.jpg" alt="" />
    </div>
  </section>
