<div class="h-48 bg-white border rounded-xl w-96">
    <div class="flex">
        <div class="md:flex-shrink-0">
            <img class="object-cover w-full h-48 rounded-r-none rounded-l-xl" src="assets/img-amigos/tuli.jpg"
                alt="Imagen de ejemplo">
        </div>
        <div class="p-7 w-max">
            <div class="mb-4 text-sm font-bold text-center uppercase text-hoverside">Nigth Society
            </div>
            <div>
                <p class="text-lg font-medium text-center hover:text-xl">Luisa Avila</p>
                <p class="text-gray-500">Estudiante de Modelaje</p>
            </div>
            <button
                class="px-2 py-1 text-black border-0 border-black rounded-md bg-sidebar hover:bg-nigthsociety">Eliminar
            </button>
        </div>
    </div>
</div>