<section>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
        <g mask="url(&quot;#SvgjsMask1000&quot;)" fill="none">
            <rect width="1440" height="560" x="0" y="0" fill="rgba(255, 255, 255, 1)"></rect>
            <path d="M596 527L595 369" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M199 502L198 689" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M537 286L536 449" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M1048 160L1047 534" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M558 415L557 50" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M411 483L410 75" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M443 529L442 175" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M133 150L132 445" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1369 388L1368 74" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M832 475L831 728" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M678 321L677 126" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M599 183L598 592" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1272 102L1271 251" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M1124 148L1123 329" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M864 477L863 624" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1313 274L1312 572" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M907 290L906 102" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M272 213L271 531" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M655 140L654 364" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M207 152L206 414" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M561 134L560 375" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M457 297L456 143" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1072 51L1071 -93" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M745 89L744 428" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M477 19L476 177" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M1000 147L999 432" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M1218 102L1217 -242" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M381 300L380 656" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1279 51L1278 286" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" class="Up"></path>
            <path d="M132 29L131 425" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M682 546L681 332" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M1386 35L1385 -271" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M185 484L184 817" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M326 418L325 216" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M944 198L943 -169" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
            <path d="M818 453L817 126" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1002&quot;)" stroke-linecap="round" class="Down"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1000">
                <rect width="1440" height="560" fill="#d6d1d1"></rect>
            </mask>
            <linearGradient x1="0%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1001">
                <stop stop-color="rgba(122, 0, 255, 0)" offset="0"></stop>
                <stop stop-color="rgba(122, 0, 255, 1)" offset="1"></stop>
            </linearGradient>
            <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="SvgjsLinearGradient1002">
                <stop stop-color="rgba(122, 0, 255, 0)" offset="0"></stop>
                <stop stop-color="rgba(122, 0, 255, 1)" offset="1"></stop>
            </linearGradient>
        </defs>
    </svg>

    <div class="title">
        <img src="../../../assets/lg.png" alt="">
    </div>

    <form class="form-c" #userForm="ngForm" (ngSubmit)=" onSubmit(userForm)">
        <h1>Register Form</h1>

        <div class="row">
            <div class="col">
                <div class="in">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.userToCreate.name" placeholder="Nombres">
                </div>
            </div>
            <div class="col">
                <div class="in">
                    <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.userToCreate.lastName" placeholder="Apellidos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="in">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.userToCreate.email" placeholder="Email">
                </div>
            </div>
            <div class="col">
                <div class="in">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.userToCreate.password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="in">
                    <input type="number" name="number" #number="ngModel" [(ngModel)]="user.userToCreate.number" placeholder="Número Celular">
                </div>
            </div>
            <div class="col">
                <div class="in">
                    <input type="date" name="dateBirth" #dateBirth="ngModel" [(ngModel)]="user.userToCreate.dateBirth" placeholder="Fecha Nacimiento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="in">
                    <select name="gener" #gener="ngModel" [(ngModel)]="user.userToCreate.gener">
                        <option value="" selected>Seleccione su genero</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <!-- <input type="text" name="gener" #gener="ngModel" [(ngModel)]="user.userToCreate.gener" placeholder="Genero"> -->
                </div>
                <div class="col">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*">
                </div>
            </div>
        </div>
        <div class="links">
            <button class="bt" type="submit">Register</button>
            <a href="#">¿Ya tienes cuenta?</a>
        </div> 
    </form>
</section>
