<section class="relative flex flex-col flex-wrap items-center justify-center w-full h-full">

    <h2 class="absolute text-5xl font-medium text-center text-white top-16">
        <span class="font-bold text-transparent bg-gradient-to-b from-white to-nightpurple bg-clip-text">Amigos</span>
        en común
    </h2>
    <div class="flex flex-wrap items-center justify-center gap-5 mx-auto mt-12">
        <div
            class="w-full p-3 overflow-hidden text-center text-white rounded-lg bg-nightblue md:w-max h-max shadow-custom">
            <img class="w-24 h-24 p-2 mx-auto rounded-full" src="assets/img-amigos/Hombre1.jpg" alt="Friend's name">
            <div class="p-4">
                <h2 class="text-lg font-semibold">Juana del Rio</h2>
                <span class="text-sm text-white">1 amigo en común</span>
                <div class="flex items-center justify-center mt-4">
                    <button
                        class="px-4 py-2 font-semibold text-white rounded-full bg-nightpurple hover:bg-white hover:text-nightblue">
                        Agregar
                    </button>
                </div>
            </div>
        </div>


        <div
            class="w-full p-3 overflow-hidden text-center text-white rounded-lg bg-nightblue md:w-max h-max shadow-custom">
            <img class="w-24 h-24 p-2 mx-auto rounded-full" src="assets/img-amigos/Hombre1.jpg" alt="Friend's name">
            <div class="p-4">
                <h2 class="text-lg font-semibold">Juana del Rio</h2>
                <span class="text-sm text-white">1 amigo en común</span>
                <div class="flex items-center justify-center mt-4">
                    <button
                        class="px-4 py-2 font-semibold text-white rounded-full bg-nightpurple hover:bg-white hover:text-nightblue">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

        <div
            class="w-full p-3 overflow-hidden text-center text-white rounded-lg bg-nightblue md:w-max h-max shadow-custom">
            <img class="w-24 h-24 p-2 mx-auto rounded-full" src="assets/img-amigos/Hombre1.jpg" alt="Friend's name">
            <div class="p-4">
                <h2 class="text-lg font-semibold">Juana del Rio</h2>
                <span class="text-sm text-white">1 amigo en común</span>
                <div class="flex items-center justify-center mt-4">
                    <button
                        class="px-4 py-2 font-semibold text-white rounded-full bg-nightpurple hover:bg-white hover:text-nightblue">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

        <div
            class="w-full p-3 overflow-hidden text-center text-white rounded-lg bg-nightblue md:w-max h-max shadow-custom">
            <img class="w-24 h-24 p-2 mx-auto rounded-full" src="assets/img-amigos/Hombre1.jpg" alt="Friend's name">
            <div class="p-4">
                <h2 class="text-lg font-semibold">Alejandro Rodriguez</h2>
                <span class="text-sm text-white">1 amigo en común</span>
                <div class="flex items-center justify-center mt-4">
                    <button
                        class="px-4 py-2 font-semibold text-white rounded-full bg-nightpurple hover:bg-white hover:text-nightblue">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>