<div class="overflow-x-hidden">
  <!-- Navbar -->
  <navbar-NS></navbar-NS>

  <header class="section d-flex justify-content-center">
    <h1 class="title text-center overflow-hidden">Amigos en común</h1>
  </header>
  <main class="main d-flex justify-content-center align-items-center flex-wrap">
    <section class="container-cards d-flex justify-content-center align-items-center flex-wrap">
      <!-- Card -->
      <div class="card">
        <div class="card-container row g-0">
          <div class="col-md-4">
            <img src="assets/img-friends/Hombre2.jpg" class="img-fluid rounded-start" alt="Lucas">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Lucas Campos</h2>
              <p class="card-text">lucas@gmail.com</p>
              <p class="card-text">Ingeniero Industrial</p>
              <button class="btn btn-primary">Agregar</button>
              <a target="_blank" href="https://web.facebook.com/mayerandres.chavesprada/">
                <img class="img-facebook" width="45px" height="45px" style="margin-left: 20px;"
                  src="assets/img-friends/facebook.png" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container row g-0">
          <div class="col-md-4">
            <img src="assets/img-friends/hombre.webp" class="img-fluid rounded-start" alt="Lucas">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Leifer Mendez</h2>
              <p class="card-text">leifermen@gmail.com</p>
              <p class="card-text">Programador</p>
              <button class="btn btn-primary">Agregar</button>
              <a target="_blank" href="https://web.facebook.com/mayerandres.chavesprada/">
                <img class="img-facebook" width="45px" height="45px" style="margin-left: 20px;"
                  src="assets/img-friends/facebook.png" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container row g-0">
          <div class="col-md-4">
            <img src="assets/img-friends/hombre3.jpg" class="img-fluid rounded-start" alt="Lucas">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Luis Mora</h2>
              <p class="card-text">moraluis@yahoo.com</p>
              <p class="card-text">Derecho</p>
              <button class="btn btn-primary">Agregar</button>
              <a target="_blank" href="https://web.facebook.com/mayerandres.chavesprada/">
                <img class="img-facebook" width="45px" height="45px" style="margin-left: 20px;"
                  src="assets/img-friends/facebook.png" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container row g-0">
          <div class="col-md-4">
            <img src="assets/img-friends/mujer2.jpg" class="img-fluid rounded-start" alt="Lucas">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Maria Prada</h2>
              <p class="card-text">mariap@gmail.com</p>
              <p class="card-text">Enfermera</p>
              <button class="btn btn-primary">Agregar</button>
              <a target="_blank" href="https://web.facebook.com/mayerandres.chavesprada/">
                <img class="img-facebook" width="45px" height="45px" style="margin-left: 20px;"
                  src="assets/img-friends/facebook.png" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

  <footer class="footer d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
      <span class="footer-author fw-bold">Night Society</span>
    </div>
  </footer>

</div>