

<app-navbar></app-navbar>

<section class="perfil-section">
    <div class="content">
        <h4 class="text-center">Night Society</h4>
        <div class="img-perfil">
            <img src="./../../../assets/PERFIL-FACEBOOK-2.png" alt="">
        </div>

        <div class="text-t">
            <div class="nombre">
                <h4>Nombre:</h4>
                <p>Duban Steven Castillo Mendoza</p>
            </div>
            <div class="fecha">
                <h4>Fecha de nacimiento:</h4>
                <p>24-01-2003</p>
            </div>
            <div class="genero">
                <h4>Genero:</h4>
                <p>Masculino</p>
            </div>
            <div class="fecha-union">
                <h4>Se unio en:</h4>
                <p>Febrero de 2012</p>
            </div>
            <div class="estado-civil">
                <h4>Estado civil:</h4>
                <p>Casado con Tatiana Castillo</p>
            </div>
        </div>
        
    </div>

</section>
