<!-- Button Ubicación y descripción -->
<div
  id="mainContent"
  class=""
>
  <div class="row justify-content-md-center w-100 h-75 pe-0">
    <div class="col-md-auto w-100 pt-5">
      <div class="coontainer pt-4">
        <div class="row">
          <div class="col">
          
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Descripción"
                id="DescripcionfloatingTextarea"
                style="height: 130px"
                
              >
Gracias por invitarnos a todos a tu farra Juan, la próxima vez me toca a mí, y espero que nos lo pasemos tan bien como ayer. Por cierto, el sitio era estupendo.</textarea
              >
              <label for="DescripcionfloatingTextarea">Descripción </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100 ">
      <div class="col">
        <div class="form-floating d-flex">
          <div class="wrapper m-0">
            <input
              name="ratingRadio"
              type="radio"
              id="st1"
              value="5"
              style="cursor: pointer"
              [(ngModel)]="selectedRating"
            />
            <label for="st1"></label>
            <input
              name="ratingRadio"
              type="radio"
              id="st2"
              value="4"
              [(ngModel)]="selectedRating"
            />
            <label for="st2"></label>
            <input
              name="ratingRadio"
              type="radio"
              id="st3"
              value="3"
              [(ngModel)]="selectedRating"
            />
            <label for="st3"></label>
            <input
              name="ratingRadio"
              type="radio"
              id="st4"
              value="2"
              [(ngModel)]="selectedRating"
            />
            <label for="st4"></label>
            <input
              name="ratingRadio"
              type="radio"
              id="st5"
              value="1"
              [(ngModel)]="selectedRating"
            />
            <label for="st5"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100">
      <div class="col">
        <div class="d-grid gap-2 col-3 mx-auto m-2">
          <button
            (click)="rateEvent(selectedRating, this.event_id)"
            type="button"
            class="btn btnEnviar"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
