<section class="h-screen w-screen text-center relative overflow-hidden">
    <header class="z-30 relative">
        <h2 class="text-dark font-medium pt-40 text-5xl">Hola mundo</h2>
    </header>
    <footer class="z-30 relative top-[380px]">
        <button class="font-semibold border-[3px] text-white px-6 py-2 rounded-lg hover:bg-nigthsociety">
            Administra tus amistades
        </button>
    </footer>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-cover h-full w-full" src="assets/img-amigos/fiesta.jpg" alt="Fiesta">
    </div>
</section>